div.square {
    height:50px;
    width:50px;
    float:left;
    justify-content: center;
    align-items: center;
    display: flex;
}

div.square.selectable {
    cursor: pointer;
}

div.square.black {
    background-color: #8E8080;
}

div.square.selected path {
    stroke: #C49191;
    stroke-width: 20;
}

div.square.allowed {
    background-color: #F2DCDC;
}

div.square.allowed.black {
    background-color: #C49191;
}