div.turn-header.nocheck {
    margin-bottom: 10px;
}

div.turn-header-main {
    width: 400px;
    height: 60px;
    border: 1px solid gray;
    text-transform: uppercase;
    display: flex;
    text-align: center;
}

div.turn-header-main div.turn {
    float: left;
    width: 125px;
    justify-content: center;
    align-items: center;
    display: flex;
}

div.turn-header-main div.number {
    float: left;
    width: 75px;
    font-size: 3em;
    background-color: gray;
    font-weight: bold;
}

div.turn-header-main div.player {
    float: left;
    width:125px;
    justify-content: center;
    align-items: center;
    display: flex;
}

div.turn-header-main div.name {
    float: left;
    width: 75px;
}

div.turn-header-main div.icon {
    width: 75px;
    background-color: gray;
    height: 100%;
    text-align: center;
    padding: 0;
}


div.turn-header-main div.icon svg {
    margin-top: 6px;
}

div.turn-header-main div.icon p {
    font-size: 12px;
    font-weight: bold;
    margin: 2px auto 0 auto;
}

div.turn-header-main div.icon p.white {
    color: white;
}

div.turn-header-main h3 {
    margin: 0;
}

div.turn-header div.check-indicator {
    width: 400px;
    height: 30px;
    border: 1px solid white;
}

div.turn-header div.check-indicator.in-check {
    background-color: red;
    color: white;
    border: 1px solid red;
    justify-content: center;
    align-items: center;
    display: flex;
}